body {
    background-color: rgb(143, 52, 228);
    font: normal 20pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(52, 1, 100); /* adiciona sombra na seção. 5px(lateral), 5px(vertical) e 10px(espalhamento) */
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}